@media only screen and (max-width: 600px){
    .container{
        display: block;
    }
    .container img{
        width: 400px;
        height: 400px;
        margin-left: -190px;
        margin-top: 500px;
    }
    .form{
        margin-left: -190px;
        margin-bottom:50px;
      }
    }